<extend name="common" />
<block name="content">
  <div class="am-cf am-padding">
    <div class="am-fl am-cf"> <strong class="am-text-primary am-text-lg">企业管理</strong>
      /
      <small>{$title}</small>
    </div>
  </div>

  <div class="am-g">
    <div class="am-u-sm-12">
      
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">企业名称：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.companyname}</div>          
        </div>
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">负责人：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.principal}</div>          
        </div>
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">Email：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.email}</div>          
        </div>
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">上一年度总收入：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.lytotalrevenue}</div>          
        </div>
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">上一年度纳税额：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.lyratal}</div>          
        </div>
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">截止目前今年总收入：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.tytotalrevenue}</div>          
        </div>
     <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">截止目前今年纳税额：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.tyratal}</div>          
        </div>
      <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">累计拥有专利数：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.patent}</div>          
        </div>
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">发明授权：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.invent}</div>          
        </div>
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">实用新型授权：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.utilitymodel}</div>          
        </div>
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">外观授权：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.appearance}</div>          
        </div>
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">软著授权：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.soft}</div>          
        </div>
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">员工人数：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.employee}</div>          
        </div>
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">缴纳社保人数：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.paysocial}</div>          
        </div>
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">科技研发人员数：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.science}</div>          
        </div>
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">累计获得奖项(获得时间-奖项或称号名称)：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.awardget}</div>          
        </div>
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">截止目前今年总收入：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.nowtotalrevenue}</div>          
        </div>
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">截止目前今年纳税额：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.nowratal}</div>          
        </div>
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">新增专利数(注明类型)：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.typatent}</div>          
        </div>
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">员工人数：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.tyemployee}</div>          
        </div>
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">缴纳社保人数：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.tysocial}</div>          
        </div>
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-5 am-text-right">新增奖项：</div>
          <div class="am-u-sm-8 am-u-md-7">
            {$vo.tyaward}</div>          
        </div>
    </div>
  </div>

</block>