<extend name="common" />
<block name="content">
  <div class="am-cf am-padding">
    <div class="am-fl am-cf"> <strong class="am-text-primary am-text-lg">数据清空</strong>
    </div>
  </div>

  <div class="am-g">
    <div class="am-u-sm-12">
      <form class="am-form" method="post" enctype="multipart/form-data">
        

        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-2">&nbsp;</div>
          <div class="am-u-sm-8 am-u-md-4">
            <button type="submit" class="am-btn am-btn-primary am-btn-xs">清空数据</button></div>
          <div class="am-hide-sm-only am-u-md-6"></div>
        </div>
      </form>
    </div>
  </div>
  </div>
</block>