<extend name="common" />
<block name="content">
  <div class="am-cf am-padding">
    <div class="am-fl am-cf"> <strong class="am-text-primary am-text-lg">首页</strong>
      /
      <small>网站管理</small>
    </div>
  </div>

  <div class="am-g">
    <div class="am-u-sm-12">
      <table class="am-table am-table-bd am-table-striped admin-content-table">
        <thead>
          <tr>
            <th width="100px">ID</th>
            <th>嘉宾名称</th>
         
            <th width="100px">管理</th>
          </tr>
        </thead>
        <tbody>
        <volist name="infolist" id="vo">
          <tr>
            <td>{$vo.id}</td>
            <td>{$vo.num}人</td>
          
            <td>
              <div class="am-dropdown" data-am-dropdown>
                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle>
                  <span class="am-icon-cog"></span>
                  <span class="am-icon-caret-down"></span>
                </button>
                <ul class="am-dropdown-content">
                  <li>
                    <a href="{:U('Index/num_edit?cid='.$vo['id'])}">信息管理</a>
                  </li>
                  <li>
                   <a href="{:U('Index/num_delete?id='.$vo['id'])}">删除</a>
                 </li>
                </ul>
              </div>
            </td>
          </tr>
  
        </volist>
        </tbody>
      </table>
      <a class="am-btn am-btn-primary am-btn-xs" href="{:U('Index/num_add')}">新增信息</a></div>
      <div style="height:200px;"></div>
    </div>
  </div>

</block>